#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#about-me {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 50px;
}

#greeting-container {
  margin-top: 20px;
}

#profile {
    width: 50%;
    height: auto;
    float: right;
    margin-bottom: 30px;
}

#nav-link {
    margin-left: 5px;
    margin-right: 5px;
}

#intro {
    background-image: url(/images/road.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: auto;
}

#left-div {
    width: 50%;
    float: left;
}

#right-div{
    width: 50%;
    float: right;
}