.content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#greeting-container {
  margin-top: 20px;
}

#profile {
  width: 50%;
  height: auto;
}

#nav-link-spacing {
  margin-left: 5px;
  margin-right: 5px;
}

#intro {
  background-image: url(/images/road.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: auto;
}

#nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

#intro {
  background-image: url(/images/road.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: auto;
}