#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#about-me {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 45vh;
  margin-top: 30px;
  margin-bottom: 50px;
}

#greeting-container {
  margin-top: 20px;
}

#profile {
  width: 50%;
  height: auto;
  float: right;
  margin-bottom: 30px;
}

#nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

#intro {
  background-image: url(/images/road.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: auto;
}

#left-div {
  width: 50%;
  float: left;
}

#right-div{
  width: 50%;
  float: right;
}

#projects {
  height: 60vh;
  margin-top: 100px;
  background-color: #343a40;
}

#project-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #f8f9fa;
}

#project-header {
  padding-top: 30px;
}

#parent-container {
  height: 100%;
}

#center-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#zoe-barth {
  color: #f8f9fa;
  font-size: 6rem;
  text-shadow: 3px;
}

#ga-tech {
  color: #6c757d;
}